/* styles.css */

/* Estilos para o cabeçalho e navegação */
header {
    background-color: #333333;
    color: #871919;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
